.*.sw[a-z]
*.log
*.o
*.d
!init.d/
*.cmd
*.so
*.vim
tags
cscope*
filenametags
build/
bin/
tools/ipvsadm/ipvsadm
tools/keepalived/bin/genhash
tools/keepalived/bin/keepalived
tools/keepalived/config.status
tools/keepalived/keepalived.spec
tools/keepalived/keepalived/libipvs-2.6/libipvs.a
tools/keepalived/lib/config.h
src/dpvs
.cache.mk
.tmp_versions/
Module.symvers
modules.order
*.ko
*.mod.c
